# Copy this file to /opt/mtsn1acehbaratdaya/.env.deploy on the VPS.
APP_IMAGE=ghcr.io/ifanhakm/website_mtsn1acehbaratdaya:production
SITE_ADDRESS=http://43.173.7.84
ACME_EMAIL=website.mtsn1abdya@gmail.com

